.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0 38px;
}
.nav-links {
  display: flex;
  list-style: none;
  font-weight: 700;
  margin-left: 50px;
}

nav {
  width: 100%;
  padding-top: 20px;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.nav-item a {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
  color: #6fbcf0;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.social-links {
  display: flex;
  align-items: center;
  margin-right: 34px;
}

.social-link {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: #6fbcf0;
  margin-left: 16px;
}
.social-link img {
  width: 100%;
  height: 100%;
}

.launch {
  background: linear-gradient(
    90deg,
    rgba(152, 233, 243, 0.6) -12.21%,
    rgba(71, 141, 222, 0.6) 100%
  );
  backdrop-filter: blur(2px);
  border-radius: 10px;
  color: white;
  display: flex;
  padding: 0 16px 0 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 13px;
  letter-spacing: 0.15em;
  white-space: nowrap;
}