#overview {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 136px;
  margin-top: 95px;
}
.overview-intro {
  display: flex;
  flex-direction: column;
  flex: 2 2 0;
}

.light-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.1em;
  color: #6FBCF0;
}

.subtitle {
  font-family: 'Viga';
  font-weight: 400;
  color: #95beed;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
}

.backgroundImage1 {
  flex: 1 1 0;
  background: transparent;
}

.backgroundImage1 img {
  width: 100%;
}

.overview-intro-redirect-btn {
  margin-top: 52px;
  align-self: center;
}