.products {
    display: flex;
    height: 230px;
    margin-top: 92px;
}

.product-box {
    display: flex;
    height: 230px;
    width: 33.33%;
    position: relative;
    padding: 0 100px;
}

.product-num {
    height: 120px;
    position: absolute;
    left: 40px;
    bottom: 160px;
}

.product-info {
    z-index: 1;
}

.product-title {
    font-size: 20px;
    font-family: 'Viga';
    font-weight: 400;
    line-height: 27px;
    color: #95beed;
    letter-spacing: 0.15em;
}

.product-intro {
    font-size: 18px;
    font-family: 'Viga';
    font-weight: 400;
    line-height: 24px;
    color: #95beed;
    letter-spacing: 0.15em;
}