.statistics {
  display: flex;
  height: 223px;
  margin-top: 160px;
  position: relative;
  align-items: center;
}
.statistics-background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, rgb(243, 250, 255) 0%, rgb(226, 245, 255) 50%, rgb(243, 248, 255) 100%);
  filter: blur(2px);
}

.statistics-box {
  background: transparent;
  z-index: 1;
  flex: 1 1 0;
  height: 158px;
  border-right: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.statistics-box-num {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  color: #6FBCF0;
}
.statistics-box-intro {
  font-family: 'Viga';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #95BEED;
}

#num5000 {
  font-size: 48px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text1 {
  font-size: 24px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#num230 {
  font-size: 48px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text2 {
  font-size: 24px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#num300 {
  font-size: 48px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text3 {
  font-size: 24px;
  font-family: 'Viga';
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}