@font-face {
  font-family: "SenRegular";
  src: url("../fonts/Sen/Sen-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "SenBold";
  src: url("../fonts/Sen/Sen-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf")
    format("opentype");
}
@font-face {
  font-family: "Viga";
  src: url("../fonts/Viga-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("opentype");
}
body {
  background-color: #f4f9ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 54px;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.box1 {
  width: 500px;
}
.box2 {
  width: 500px;
}
.box3 {
  width: 500px;
}

.linear-gradient-btn {
  background: linear-gradient(
    90deg,
    rgba(152, 233, 243, 0.6) -12.21%,
    rgba(71, 141, 222, 0.6) 100%
  );
  backdrop-filter: blur(2px);
  border-radius: 10px;
  color: white;
  display: inline-flex;
  padding: 0 16px 0 16px;
  height: 34px;
  line-height: 34px;
  font-weight: 700;
  font-family: 'Roboto';
  font-size: 13px;
  letter-spacing: 0.15em;
  white-space: nowrap;
}