@font-face {
  font-family: "SenRegular";
  src: url("../fonts/Sen/Sen-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "SenBold";
  src: url("../fonts/Sen/Sen-Bold.ttf") format("opentype");
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf")
    format("opentype");
}
@font-face {
  font-family: "Viga";
  src: url("../fonts/Viga/Viga-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf") format("opentype");
}
body {
  background-color: #f4f9ff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding-top: 54px;
}

html {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.logo {
  display: inline-block;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}
#overview {
  width: 710px;
  height: 325px;
  top: 174px;
  left: 136px;
  min-height: 100vh;
  padding: 100px 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lighttitle {
  font-family: Inter;
  font-weight: 700;
  line-height: 65.35px;
  font-size: 54px;
  color: #6fbcf0;
}
.subtitle {
  font-family: Viga;
  font-weight: 400;
  color: #95beed;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 10%;
}
.backgroundImage1 {
  width: 870px;
  height: 637px;
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
  opacity: 0.5;
}
.numbers {
  display: flex;
  height: 230px;
  background-color: #e3f4ff;
}
.box1 {
  width: 515px;
}
.box2 {
  width: 515px;
}
.box3 {
  width: 515px;
}
#num5000 {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text1 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#num230 {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text2 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#num300 {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#text3 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
.products {
  display: flex;
  height: 230px;
}
#SAVINGS {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#ptext1 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#SAVINGS {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#ptext1 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#FARMING {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#ptext2 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
#FUND {
  font-size: 48px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 64.51px;
  color: #6fbcf0;
}
#ptext3 {
  font-size: 24px;
  font-family: Viga;
  font-weight: 400;
  text-align: center;
  line-height: 32.26px;
  color: #95beed;
}
